.itemWrapper{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  border-radius: 1rem;
  height: 100%;
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.2);
}

.addToCartBtn{
  border-radius: 0 0 1rem 1rem;
  background-color:#CF2C2C!important;
  width: 60%;
  color:#f8f8f8!important;
  font-family:"helvetica"!important;
  font-weight: 700!important;
}

.itemImg{
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.itemDiv{
  font-family:"helvetica"!important;
  padding: 1rem;
  height: 100%;
}

.cartDiv{
  font-family:"helvetica"!important;
  width: 20rem;
  padding: 0.5rem;
}

.wrapperCartItem{
  display: flex;
  justify-content: space-between;
  font-family:"helvetica"!important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 1rem;
}

.wrapperCartItem div{
  flex: 1;
}

.information, .buttons{
  display: flex;
  justify-content: space-between;
}

.imgItem{
  max-width: 8rem;
  object-fit: cover;
  margin-left: 4rem;
}
